.find {
    padding: 150rem 0;
    .wrapper {
        overflow-x: hidden;
    }
    &-heading {
        text-align: center;
        margin-bottom: 60rem;
        .sub {
            margin-bottom: 10px;
        }
    }
}
