@media (max-width: 1024px) {
    html {
        // font-size: 5%;
    }
    .header {
        &-mobile-menu,
        &-mobile-search {
            display: block;
        }
        &-search {
            display: none;
        }
        &-logo {
            margin-inline: auto;
        }
        &-menu {
            &.active {
                transform: scale(1);
                opacity: 1;
            }
            transform: scale(0);
            transform-origin: top left;
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            min-height: 100vh;
            padding-inline: 20px;
            flex-direction: column;
            row-gap: 20px;
            align-items: flex-start;
            background-color: #212127;
            .header-cta {
                margin-left: 0;
            }
            > li {
                height: 27px;
                width: 100%;
                &:hover {
                    height: unset;
                }
                > ul {
                    position: relative;
                    inset: unset;

                    > li {
                        > ul {
                            height: 100%;
                            position: unset;
                            // left: calc(100% + 10px);
                            // width: 200px;
                            // top: 0;
                        }
                    }
                }
            }
        }
    }
}
